<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Quimica Pepe - Contactanos</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Yanone+Kaffeesatz:wght@700&display=swap">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../assets/css/estilos.css">
    <meta name="description" content="Sitio Oficial de Quimica Pepe, con informacion actualizada sobre nuestros productos">
    <meta name="keywords" content="Limpieza, Quimica, Hogar, Desinfeccion, Pepe, Contactar, Contacto, Consulta, Comercial">
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../img/favicon.ico" type="image/x-icon">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-xl navbar-light bg-light noPad">
            <a class="navbar-brand" href="../index.html"><img src="../img/logo.png" id="logoSitio"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav ml-auto mr-4">
                    <li class="nav-item">
                        <a class="navTexto" href="./nosotros.html">Sobre Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="navTexto" href="./productos.html">Nuestros Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="navTexto" href="./ubicacion.html">Donde Comprar</a>
                    </li>
                    <li class="nav-item">
                        <a class="navTexto" href="./contacto.html">Contacto</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="container mb-7">
            <h1 class="titulo">Contactanos</h1>
            <section class="row my-3">
                <div class="pt-y col-xs-12 col-xl-6 m-2 fondoCeleste">
                    <div class="centerContent">
                        <form action="#" method="post">
                            <div class="formField">
                                <label for="nombre">Nombre:</label>
                                <input type="text" name="nombre">
                            </div>
                            <div class="formField">
                                <label for="email">Email:</label>
                                <input type="email" name="email">
                            </div>
                            <div class="formField">
                                <input type="checkbox" name="newsletter" value="1">
                                <label for="newsletter">Quiero recibir el newsletter</label>
                            </div>
                            <div class="formField">
                                <label for="comentarios">Comentarios:</label>
                                <textarea name="comentarios" rows="5">
							Comentarios
							</textarea>
                            </div>
                            <div class="formField">
                                <input type="submit" value="Enviar">
                                <input type="reset" value="Restablecer">
                            </div>
                        </form>
                    </div>
                </div>
                <div id="datosContacto" class="py-5 col-xs-12 col-xl-5 m-2 fondoCeleste">
                    <strong><span><a href="#" title="Llamanos"><img class="imagenContacto" src="../img/telefono.png" alt="telefono"></a></span> 000-0000-0000</strong>
                    <strong><span><a href="#" title="Visita Nuestro Instagram"><img class="imagenContacto" src="../img/instagram.png" alt="instagram logo"></a></span> QuimicaPepeOK</strong>
                    <strong><span><a href="#" title="Visita Nuestro Facebook"><img class="imagenContacto" src="../img/facebook.png" alt="facebook logo"></a></span> Quimica Pepe</strong>
                </div>
            </section>
    </main>
    <footer class="footer fixed-bottom mt-auto py-3">
        <div class="container">
            <span class="text-muted">2020 - Quimica Pepe</span>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>