<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Quimica Pepe - Donde Comprar Nuestros Productos</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Yanone+Kaffeesatz:wght@700&display=swap">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../assets/css/estilos.css">
    <meta name="description" content="Sitio Oficial de Quimica Pepe, con informacion actualizada sobre nuestros productos">
    <meta name="keywords" content="Limpieza, Quimica, Hogar, Desinfeccion, Pepe, Donde, Comprar, Negocios">
    <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../img/favicon.ico" type="image/x-icon">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-xl navbar-light bg-light noPad">
            <a class="navbar-brand" href="../index.html"><img src="../img/logo.png" id="logoSitio"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav ml-auto mr-4">
                    <li class="nav-item">
                        <a class="navTexto" href="./nosotros.html">Sobre Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="navTexto" href="./productos.html">Nuestros Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="navTexto" href="./ubicacion.html">Donde Comprar</a>
                    </li>
                    <li class="nav-item">
                        <a class="navTexto" href="./contacto.html">Contacto</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="container mb-7">
        <h1 class="titulo">Donde Comprar Nuestros Productos</h1>
        <div class="row ">
            <div class="col-xl-6 col-xs-12">
                <div class="mapouter">
                    <div class="gmap_canvas">
                        <iframe id="gmap_canvas" src="https://maps.google.com/maps?q=Supermercado&t=&z=11&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                        <a href="https://google-map-generator.com">google map generator</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-xs-12 p-5 text-center fondoCeleste">
                <strong><span><a href="#" title="Lugar 1"><img class="imagenContacto" src="../img/spotMapa.png" alt="spot de mapa"></a></span> Lugar 1</strong>
                <strong><span><a href="#" title="Lugar 2"><img class="imagenContacto" src="../img/spotMapa.png" alt="spot de Mapa"></a></span> Lugar 2</strong>
                <strong><span><a href="#" title="Lugar 3"><img class="imagenContacto" src="../img/spotMapa.png" alt="spot de mapa"></a></span> Lugar 3</strong>

            </div>
        </div>
    </main>
    <footer class="footer fixed-bottom mt-5 py-3">
        <div class="container">
            <span class="text-muted">2020 - Quimica Pepe</span>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>